<div class="w-full">
    <a href="" >
        <div class="flex flex-col justify-center items-center w-full">
            <div class="max-h-[1800px] w-full">
                <!-- <img class="h-full w-full hidden sm:flex" src="../Images/women/women-s-shoes-clothing-accessories.png" /> -->
                <div class="">
                    <video class="w-full" autoplay loop  muted="muted">
                        <source class="" src="../Images/kid/Nike.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>
                <img class="sm:hidden flex" src="../Images/women/women-s-shoes-clothing-accessories(1).png" alt="" />
              </div>
              <div class="text-center p-10">
                    <p>Feel the Unreal</p>
                    <h3 class="text-6xl anton-regular">AIR MAX DN</h3>
                    <p class="pt-6">
                        The next generation of air technology is here.
                    </p>
                    <button class="mt-6 bg-black text-white p-2 pr-4 pl-4 rounded-full" href="">Shop Now</button>
                </div>
            </div>
        
      </a>
</div>