<div id="default-carousel " data-carousel="slide" class="w-full  relative mt-4 mb-10 py-4">
    <h2 class="p-4 text-3xl font-medium flex items-center">
        Classic Spotlight
      </h2>
    <div id="classic-scroll-container"  class="relative w-full flex flex-nowrap gap-4 flex-none overflow-x-auto no-scrollbar">
        <div class="flex-none">
            <img class=" w-[360px]" src="../Images/kid/nike-kids-shoes-clothing-and-accessories-nike-com(9).jpg" alt="">
        </div>
        <div class="flex-none ">
            <img class=" w-[360px]" src="../Images/kid/nike-kids-shoes-clothing-and-accessories-nike-com(10).jpg" alt="">
        </div>
        <div class="flex-none ">
            <img class=" w-[360px]" src="../Images/kid/nike-kids-shoes-clothing-and-accessories-nike-com(11).jpg" alt="">
        </div>
        <div class="flex-none ">
            <img class=" w-[360px]" src="../Images/kid/nike-kids-shoes-clothing-and-accessories-nike-com(12).jpg" alt="">
        </div>
        <div class="flex-none ">
            <img class=" w-[360px]" src="../Images/kid/nike-kids-shoes-clothing-and-accessories-nike-com(13).jpg" alt="">
        </div>
        <div class="flex-none ">
            <img class=" w-[360px]" src="../Images/kid/nike-kids-shoes-clothing-and-accessories-nike-com(14).jpg" alt="">
        </div>
        <div class="flex-none ">
            <img class=" w-[360px]" src="../Images/kid/nike-kids-shoes-clothing-and-accessories-nike-com(9).jpg" alt="">
        </div>
        <div class="flex-none ">
            <img class=" w-[360px]" src="../Images/kid/nike-kids-shoes-clothing-and-accessories-nike-com(10).jpg" alt="">
        </div>
        <div class="flex-none ">
            <img class=" w-[360px]" src="../Images/kid/nike-kids-shoes-clothing-and-accessories-nike-com(11).jpg" alt="">
        </div>
        <div class="flex-none ">
            <img class=" w-[360px]" src="../Images/kid/nike-kids-shoes-clothing-and-accessories-nike-com(12).jpg" alt="">
        </div>
    </div>
    <!-- Slider controls -->
    <button id="classic-back-btn" type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white">
            <svg class="w-4 h-4 text-black dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
        </span>
    </button>
    <button id="classic-next-btn" type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white">
            <svg class="w-4 h-4 text-black dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
        </span>
    </button>
</div>