<div class="w-full p-8">
    <div class="sm:hidden">
        <ul>
            <li class="pb-4">Featured</li>
            <li class="pb-4">Shoe</li>
            <li class="pb-4">Clothing</li>
            <li class="pb-4">Kids</li>
        </ul>
    </div>
    <div id="menu-below-hover" class="w-full hidden sm:flex sm:justify-center h-[14.5vh] duration-300 p-4 overflow-hidden ">
        
        <div class="flex flex-row gap-20">
           
            <div>
                <p class="menu-below-btn">Kids' Shoes</p>
                <ul class="pt-4 text-gray-600">
                    <li class="pt-2 menu-below-btn cursor-pointer">$70 & Under</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Easy On & Off</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Jordan</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Basketball</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Running</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Soccer</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Football</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Baseball</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Skateboarding</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Lifestyle</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">New Releases</li>
                </ul>
            </div>
            <div>
                <p class="menu-below-btn">Kids' Clothing</p>
                <ul class="pt-4 text-gray-600">
                    <li class="pt-2 menu-below-btn cursor-pointer">Joggers & Sweatpants</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Swimwear</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Jackets & Vests</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">T-Shirts & Tops</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Hoodies & Sweatshirts</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Shorts</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Pants & Tights</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Compression & Nike Pro</li>
                </ul>
            </div>
            <div>
                <p class="menu-below-btn">Kids' Gear</p>
                <ul class="pt-4 text-gray-600">
                    <li class="pt-2 menu-below-btn cursor-pointer">All Kids' Gear</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Backpacks & Bags</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Gloves</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Hats & Headbands</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Socks</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Sleeves & Arm Bands</li>
                </ul>
            </div>
            <div>
                <p class="menu-below-btn">Featured</p>
                <ul class="pt-4 text-gray-600">
                    <li class="pt-2 menu-below-btn cursor-pointer">All Kids' Products</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Baby & Toddler</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Pre-School</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Grade School</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Jordan</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Clothing Size Guide</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Shoe Size Guide</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Clearance</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">New Releases</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Best Sellers</li>
                </ul>
            </div>
        </div>
        
    </div>
</div>