<div class="">
  <div class="flex justify-between mb-4 p-4">
    <h2 class="text-3xl font-medium flex items-center">
      Popular Right Now
    </h2>
    <div class="hidden lg:flex gap-2 items-center">
      <a id="popular-back-btn"
        class="cursor-pointer flex justify-center items-center h-[50px] w-[50px] rounded-full bg-gray-100 hover:bg-[#d8d8d8]">
        <img class="w-4" src="../Images/back.png" alt="">
      </a>
      <a id="popular-next-btn"
        class="cursor-pointer flex justify-center items-center h-[50px] w-[50px] rounded-full bg-gray-200 hover:bg-[#d8d8d8]">
        <img class="w-4" src="../Images/next.png" alt="">
      </a>
    </div>
  </div>
  <div id="popular-scroll-container"
    class="flex flex-nowrap gap-2 overflow-x-scroll  scrolling-touch items-start mb-8 p-4">
    <div class="flex-none w-1/1 lg:w-1/3 lg:pb-4 rounded-lg">
      <a href="#" class="space-y-4">
        <div class="aspect-w-16 aspect-h-9">
          <img class="object-cover hover:shadow-xl rounded-lg" src="../Images/kid/air-max-dn-big-kids-shoes-SjtGM9.png" alt="" />
        </div>
        <div class="px-4 py-2">

          <div class="text-lg">
            <h3>Nike Air Max Dn</h3>
            <p class="text-gray-500">Big Kids' Shoes</p>
            <p>$130</p>

          </div>
        </div>
      </a>
    </div>

    <div class="flex-none w-1/1 lg:w-1/3 lg:pb-4 rounded-lg">
      <a href="#" class="space-y-4">
        <div class="aspect-w-16 aspect-h-9">
          <img class="object-cover hover:shadow-xl rounded-lg" src="../Images/kid/flex-runner-3-little-kids-shoes-703XJt.png" alt="" />
        </div>
        <div class="px-4 py-2">

          <div class="text-lg">
            <h3>Nike Flex Runner 3</h3>
            <p class="text-gray-500">Big Kids' Road Running Shoes</p>
            <p>$55</p>

          </div>
        </div>
      </a>
    </div>
    <div class="flex-none w-1/1 lg:w-1/3 lg:pb-4 rounded-lg">
      <a href="#" class="space-y-4">
        <div class="aspect-w-16 aspect-h-9">
          <img class="object-cover hover:shadow-xl rounded-lg" src="../Images/kid/flex-runner-3-big-kids-road-running-shoes-04HmRw.png" alt="" />
        </div>
        <div class="px-4 py-2">

          <div class="text-lg">
            <h3>Nike Flex Runner 3</h3>
            <p class="text-gray-500">Little Kids' Shoes</p>
            <p>$50</p>

          </div>
        </div>
      </a>
    </div>

    <div class="flex-none w-1/1 lg:w-1/3 lg:pb-4">
      <a href="#" class="space-y-4">
        <div class="aspect-w-16 aspect-h-9">
          <img class="object-cover hover:shadow-xl" src="../Images/kid/air-jordan-1-low-big-kids-shoes-s0vPgS.png" alt="" />
        </div>
        <div class="px-4 py-2">

          <div class="text-lg">
            <h3>Nike Zoom Vomero 5</h3>
            <p class="text-gray-500">Big Kids' Shoes</p>
            <p>$160</p>

          </div>
        </div>
      </a>
    </div>
    <div class="flex-none w-1/1 lg:w-1/3 lg:pb-4">
      <a href="#" class="space-y-4">
        <div class="aspect-w-16 aspect-h-9">
          <img class="object-cover hover:shadow-xl" src="../Images/kid/air-jordan-1-mid-big-kids-shoes-H5qqbF.png" alt="" />
        </div>
        <div class="px-4 py-2">

          <div class="text-lg">
            <h3>Nike Zoom Vomero 5</h3>
            <p class="text-gray-500">Big Kids' Shoes</p>
            <p>$160</p>

          </div>
        </div>
      </a>
    </div>
    <div class="flex-none w-1/1 lg:w-1/3 lg:pb-4 rounded-lg">
      <a href="#" class="space-y-4">
        <div class="aspect-w-16 aspect-h-9">
          <img class="object-cover hover:shadow-xl rounded-lg" src="../Images/kid/air-jordan-5-retro-se-big-kids-shoes-lJxzp4.png" alt="" />
        </div>
        <div class="px-4 py-2">

          <div class="text-lg">
            <h3>Nike Zoom Vomero 5</h3>
            <p class="text-gray-500">Big Kids' Shoes</p>
            <p>$160</p>

          </div>
        </div>
      </a>
    </div>
   
    <div class="flex-none w-1/1 lg:w-1/3 lg:pb-4 rounded-lg">
      <a href="#" class="space-y-4">
        <div class="aspect-w-16 aspect-h-9">
          <img class="object-cover hover:shadow-xl rounded-lg" src="../Images/kid/dunk-low-little-kids-shoes-9T9drS.png" alt="" />
        </div>
        <div class="px-4 py-2">

          <div class="text-lg">
            <h3>Nike Zoom Vomero 5</h3>
            <p class="text-gray-500">Big Kids' Shoes</p>
            <p>$160</p>

          </div>
        </div>
      </a>
    </div>
    <div class="flex-none w-1/1 lg:w-1/3 lg:pb-4 rounded-lg">
      <a href="#" class="space-y-4">
        <div class="aspect-w-16 aspect-h-9">
          <img class="object-cover hover:shadow-xl rounded-lg" src="../Images/kid/flex-runner-3-baby-toddler-shoes-q7kDZZ.png" alt="" />
        </div>
        <div class="px-4 py-2">

          <div class="text-lg">
            <h3>Nike Dunk Low</h3>
            <p class="text-gray-500">Big Kids' Shoes</p>
            <p>$160</p>

          </div>
        </div>
      </a>
    </div>

    


  </div>
</div>