<div class="w-full relative z-10">
  <div class="flex justify-between mb-4 p-4">
    <h2 class="text-3xl font-medium flex items-center">
      Size For All
    </h2>
  </div>
  <div class="grid grid-rows-1  md:grid-cols-2 w-full gap-2 h-full">
    <div class="row-span-3 ">
      <div class="bg-amber-300 w-full flex items-end gap-4 relative z-10">
        <img class="hidden md:flex" src="../Images/kid/nike-kids-shoes-clothing-and-accessories-nike-com.jpg" alt="" />
        <img class="md:hidden" src="../Images/kid/min-kid.jpg" alt="">
        <div class="absolute z-0 p-10 space-y-4 hidden md:flex flex-col">
          <h2 class="text-2xl">Big Kids</h2>
          <p class="text-base">
            Explore apparel (XS-XL)<br />and shoes (3.5-7Y)
          </p>
          <button class="mt-6 h-[36px] w-[74px] bg-black text-white py-2 px-4 rounded-full flex items-center">
            Shop
          </button>
        </div>
      </div>
      <div class="flex md:hidden flex-col p-10 space-y-4 ">
        <h2 class="text-2xl">Big Kids</h2>
        <p class="text-base">
          Explore apparel (XS-XL) and shoes (3.5-7Y)
        </p>
        <button class="mt-6 h-[36px] w-[74px] bg-black text-white py-2 px-4 rounded-full flex items-center">
          Shop
        </button>
      </div>
    </div>
    <div class="row-span-2 ">
      <div class="bg-amber-300 w-full flex items-end gap-4 relative z-10">
        <img class="hidden md:flex" src="../Images/kid/nike-kids-shoes-clothing-and-accessories-nike-com(1).jpg" alt="" />
        <img class="md:hidden" src="../Images/kid/min-kid-1.jpg" alt="">
        <div class="absolute z-0 p-10 space-y-4 hidden md:flex flex-col">
          <h2 class="text-2xl">Babies and Toddlers</h2>
          <p class="text-base">Explore apparel (0M–4T) and shoes (0C–10C).</p>
          <button class="mt-6 h-[36px] w-[74px] bg-black text-white py-2 px-4 rounded-full flex items-center">
            Shop
          </button>
        </div>

      </div>
      <div class="  p-10 space-y-4 flex md:hidden flex-col">
        <h2 class="text-2xl">Babies and Toddlers</h2>
        <p class="text-base">Explore apparel (0M–4T) and shoes (0C–10C).</p>
        <button class="mt-6 h-[36px] w-[74px] bg-black text-white py-2 px-4 rounded-full flex items-center">
          Shop
        </button>
      </div>
    </div>

    <div class="row-span-3 ">
      <div class="w-full flex items-end gap-4 relative z-10">
        <img class="hidden md:flex" src="../Images/kid/nike-kids-shoes-clothing-and-accessories-nike-com(3).jpg" alt="" />
        <img class="md:hidden" src="../Images/kid/min-kid-2.jpg" alt="">

        <div class="absolute z-0 p-10 space-y-4 hidden md:flex flex-col">
          <h2 class="text-2xl">Extended Sizes</h2>
          <p class="text-base">Explore apparel (S+–XL+).</p>
          <div class="flex gap-2">
            <button class="mt-6 h-[36px] w-[74px] bg-black text-white py-2 px-4 rounded-full flex items-center">
              Shop
            </button>
            <button class="mt-6 h-[36px]  bg-black text-white py-2 px-4 rounded-full flex items-center">
              Size Guide
            </button>
          </div>
        </div>
       
      </div>
      <div class="p-10 space-y-4 flex md:hidden flex-col">
        <h2 class="text-2xl">Extended Sizes</h2>
        <p class="text-base">Explore apparel (S+–XL+).</p>
        <div class="flex gap-2">
          <button class="mt-6 h-[36px] w-[74px] bg-black text-white py-2 px-4 rounded-full flex items-center">
            Shop
          </button>
          <button class="mt-6 h-[36px]  bg-black text-white py-2 px-4 rounded-full flex items-center">
            Size Guide
          </button>
        </div>
      </div>
    </div>
    <div class="row-span-2 ">
      <div class="bg-amber-300 w-full flex items-end gap-4">
        <img class="hidden md:flex" src="../Images/kid/nike-kids-shoes-clothing-and-accessories-nike-com(2).jpg" alt="" />
        <img class="md:hidden" src="../Images/kid/min-kid-3.jpg" alt="">

        <div class="absolute p-10 space-y-4 hidden md:flex flex-col">
          <h2 class="text-2xl">Little Kids</h2>
          <p class="text-base">Explore apparel (4–7) and shoes (10.5C–3Y).</p>
          <button class="mt-6 h-[36px] w-[74px] bg-black text-white py-2 px-4 rounded-full flex items-center">
            Shop
          </button>
        </div>
        
      </div>
      <div class=" p-10 space-y-4 flex md:hidden flex-col" >
        <h2 class="text-2xl">Little Kids</h2>
        <p class="text-base">Explore apparel (4–7) and shoes (10.5C–3Y).</p>
        <button class="mt-6 h-[36px] w-[74px] bg-black text-white py-2 px-4 rounded-full flex items-center">
          Shop
        </button>
      </div>
    </div>
  </div>
</div>