body {
  font-size: inherit;
  line-height: inherit;
  font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
  color: var(--podium-cds-color-black);
  background-color: var(--podium-cds-color-white);
  margin: 0;
  padding: 0;
}
.pre-srcim {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: auto;
}
#header-container {
  display: flex;
  flex-direction: column;
  height: 7.5%;
  background: #eeeeee;
}
#body-container {
  flex: 1;
  background-color: beige;
  
}
#footer-container {
    flex: 1;
}

/* cmd-navbar */
.brand-header {
  min-height: 35px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  min-height: 50%;
  background-color: #ffffffb3;
}
.pre-l-header {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  height: 36px;
  width: 90%;
}
.icon-header {
  display: flex;
  justify-content: space-between;
  min-height: 100%;
}
.icon-header ul li:hover {
  opacity: 0.5;
}
.icon-header ul a {
  text-decoration: none;
}
.menu-header {
  display: flex;
  align-items: center;
  margin: 0;
}
.menu-header ul {
  display: flex;
  list-style: none;
  font-size: 12px;
}
.menu-header ul li {
  font-size: 12px;
  margin: 0px 8px 0px 8px;
}
.li:hover {
  opacity: 0.5;
}
.menu-header ul li:hover {
  opacity: 0.5;
}
.menu-header ul a {
  text-decoration: none;
  color: black;
}
.icon-header ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.icon-header ul li {
  padding: 12px;
}

.header-navbar {
  background-color: #ffff;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.flex-header-navbar {
  display: flex;
  width: 90%;
  gap: 2rem;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.icon-nike-navbar {
  flex: 1;
}
.pre-logo-svg:hover {
  opacity: 0.5;
}
.pre-logo-svg {
  height: 60px;
}
.menu-navbar {
  flex-wrap: wrap;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-navbar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}
.menu-navbar ul li {
  list-style: none;
  padding: 0px 12px 0px 12px;
}
.menu-navbar ul a {
  text-decoration: none;
  color: black;
}
.menu-navbar ul li:hover {
  opacity: 0.5;
}
.search-cart-favor-navbar {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}
.search-cart-favor-navbar ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.search-cart-favor-navbar ul li {
  list-style: none;
  padding: 0px 5px 0px 5px;
}
.seach-bar {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.seach-bar input {
  color: rgba(0, 0, 0, 0.3);
}

.input-search {
  text-align: center;
  font-size: 16px;
  min-height: 40px;
  min-width: 180px;
  border-radius: 60px;
  border: none;
  background-color: #eeeeee;
}
.input-search:focus {
  outline: none;
}
.input-search:hover {
  color: rgba(0, 0, 0, 0.3);
  background-color: #e7e7e7;
}
.search-butoon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 38px;
  min-width: 40px;
  border-radius: 50%;
  color: black;
}
.search-butoon:hover {
  background-color: #bebbbb;
}
.favor-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 38px;
  min-width: 40px;
  border-radius: 50%;
}
.favor-button:hover {
  background-color: #eeeeee;
}
.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 38px;
  min-width: 40px;
  border-radius: 50%;
}
.cart-button:hover {
  background-color: #eeeeee;
}

/* Discount Feature */
/* .discount-feature{
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    height: 24px;
}
.discount-feature:hover{
    background-color: #eeeeee;
} */
.min-navbar ul {
  display: none;
}
.min-navbar ul a {
  text-decoration: none;
  color: black;
}
.min-navbar ul li:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1100px) {
  .Accessories-menu {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .brand-header {
    display: none;
  }
  .cart-button {
    display: none;
  }
  .menu-navbar {
    display: none;
  }
  .input-search {
    display: none;
  }
  .search-butoon {
    display: none;
  }
  .favor-button {
    display: none;
  }
  .min-navbar {
    display: flex;
  }
  .min-navbar ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .flex-header-navbar {
    width: 100%;
  }
  .mix-navbar {
    display: none;
    position: absolute;
  }
  #header-container {
    height: 5%;
  }
  .text-header{
   background-color: #bebbbb;
}

}
 /*cmd-navbar*/
 /*cmd-hero-section*/
 /*cmd-body */
@media screen and (min-width: 600px){
    .min-pic-hero{
        display: none;
    }
}
@media screen and (max-width: 600px){
    .max-pic-hero{
        display: none;
    }
    .pic-hero-section{
        margin: 20px;
    }
}
.section-hero{
    background-color: aqua;
    display: flex;
    min-height: 60vh;
    flex-direction: column;
}
.pic-hero-section{
    background-color: antiquewhite;
}
.max-pic-hero{
    width: 100%;
    height: auto;
}
.min-pic-hero{
    width: 100%;
    height: auto;
    
}
.action-hero-section{
   
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.action-section{
    display: flex;
    background-color: gold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.action-section h3{
    font-family: "Mukta", sans-serif;
    font-size: 76px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: -40px;
}
.action-section p[draggable="true"]{
    background-color: bisque;
    padding: 0;
    font-size: 16px;
}
/* .text-header p{
    font-family: "Mukta", sans-serif;
    font-size: 76px;
    font-weight: bold;
    
    margin: 0;
    padding: 0;
}
.text-above-header p{
    margin-bottom: -40px;
    padding: 0;
    font-size: 16px;
} */



.section-trending{
    background-color: #bebbbb;
    min-height: 35vh;
}
.section-featured{
    
    background-color: #e7e7e7;
    min-height: 35vh;
}

 /*cmd-hero-section*/