<div class="p-4">
    <div class="flex justify-between mb-4">
        <h2 class="text-3xl font-medium flex items-center">
          Featured
        </h2>
        <div class="flex gap-2 items-center">
          <a
            class="cursor-pointer flex justify-center items-center h-[50px] w-[50px] rounded-full bg-gray-100 hover:bg-[#d8d8d8]"
          >
            <img class="w-4" src="../Images/back.png" alt="">
          </a>
          <a
            class="cursor-pointer flex justify-center items-center h-[50px] w-[50px] rounded-full bg-gray-200 hover:bg-[#d8d8d8]"
          >
            <img class="w-4" src="../Images/next.png" alt="">
          </a>
        </div>
      </div>
    <div class="w-full flex justify-between gap-2">
        <div class="bg-amber-300 w-full flex items-end">
            <img  class="w-full h-auto" src="../Images/featured-1.jpg" alt="">
            <div class="absolute p-10">
                <p class="text-base text-white">Nike Alphafly 3</p>
                <h2 class="text-2xl  text-white">Push Beyond What's Possible</h2>
                <button class="mt-6 h-[36px] w-[74px] bg-white py-2 px-4 rounded-full flex items-center ">Shop</button>
            </div>
        </div>
        <div class="bg-amber-300 w-full flex items-end">
            <img  class="w-full h-auto" src="../Images/featured-2.jpg" alt="">
            <div class="absolute p-10">
                <p class="text-base text-white">Nike Alphafly 3</p>
                <h2 class="text-2xl  text-white">Push Beyond What's Possible</h2>
                <button class="mt-6 h-[36px] w-[74px] bg-white py-2 px-4 rounded-full flex items-center ">Shop</button>
            </div>
        </div>
    </div>
</div>