<!-- phone screen -->
<div class="w-full bg-black flex flex-col p-4  md:hidden">
    <div>
        <ul class="text-white ">
            <li class="pb-4">RESOURE </li>
            <li class="pb-4">GET CARDS</li>
            <li class="pb-4">FIND A STORE</li>
            <li class="pb-4">BECOME A MEMBER</li>
            <li class="pb-4">NIKE X NBA</li>
            <li class="pb-4">NIKE JOURAL</li>
            <li class="pb-4">Site Feedback</li>

        </ul>
    </div>
    <div class="text-white pb-4">
        <div id="miniHelpFooter" class="flex justify-between pt-4 pb-4">
            <p>HELP</p>
            <p>+</p>
        </div>
        <ul id="dropdownMiniHelpFooter" class="text-xs text-gray-500 overflow-hidden h-0 duration-300">
            <li class="pt-2 cursor-pointer">Get Help</li>
                        <li class="pt-2 cursor-pointer">Order Status</li>
                        <li class="pt-2 cursor-pointer">Shipping and Delivery</li>
                        <li class="pt-2 cursor-pointer">Return</li>
                        <li class="pt-2 cursor-pointer">Order Cancellation</li>
                        <li class="pt-2 cursor-pointer">Payment Options</li>
                        <li class="pt-2 cursor-pointer">Gift Card Balance</li>
                        <li class="pt-2 cursor-pointer">Contact Us</li>
          </ul>
        <div id="miniCompanyFooter" class="flex justify-between pt-4 pb-4">
            <p>COMPANY</p>
            <p>+</p>
        </div>
        <ul id="dropdownMiniCompanyFooter" class="text-xs text-gray-500 overflow-hidden h-0 duration-300">
            <li class="pt-2 cursor-pointer">About Nike</li>
            <li class="pt-2 cursor-pointer">News</li>
            <li class="pt-2 cursor-pointer">Careers</li>
            <li class="pt-2 cursor-pointer">Investors</li>
            <li class="pt-2 cursor-pointer">Purpose</li>
            <li class="pt-2 cursor-pointer">Sustainability</li>
          </ul>
        <div id="miniPromoteFooter" class="flex justify-between pt-4 pb-4">
            <p>PROMOTIONS AND DISCOUNTS</p>
            <p>+</p>
        </div>
        <ul id="dropdownMiniPromoteFooter" class="text-xs text-gray-500 overflow-hidden h-0 duration-300">
            <li class="pt-2 cursor-pointer">Student</li>
                        <li class="pt-2 cursor-pointer">Military</li>
                        <li class="pt-2 cursor-pointer">Teacher</li>
                        <li class="pt-2 cursor-pointer text-b"><P>First Responders & Medical Professinals</P></li>
                        <li class="pt-2 cursor-pointer">Birtday</li>
          </ul>
    </div>
    <div class=" text-gray-600 pb-4 flex gap-4 flex-wrap">
                    
        <a href="" class="bg-gray-500 flex justify-center items-center h-[30px] w-[30px] rounded-full hover:bg-[#d8d8d8]" >
            <img class="w-4" src="../Images/twitter.png" alt="">
          </a>
    
    
        <a href="" class="bg-gray-500 flex justify-center items-center h-[30px] w-[30px] rounded-full hover:bg-[#d8d8d8]">
            <img class="w-4" src="../Images/facebook.png" alt="">
          </a>
    
    
        <a href="" class="bg-gray-500 flex justify-center items-center h-[30px] w-[30px] rounded-full hover:bg-[#d8d8d8]">
        <img class="w-4" src="../Images/youtube.png" alt="">
      </a>
    
    
        <a href="" class="bg-gray-500 flex justify-center items-center h-[30px] w-[30px] rounded-full hover:bg-[#d8d8d8]">
            <img class="w-4" src="../Images/instagram.png" alt="">
          </a>
    
    </div>
    <div class="text-gray-500 pb-4">
        <p class="pb-2">United State</p>
        <p>© 2024 Nike, Inc. All Rights Reserved</p>
    </div>
    <div class="text-gray-500 ">
        <p class="pb-2">Guides</p>
        <p class="pb-2">Terms of Sale</p>
        <p class="pb-2">Terms of Use</p>
        <p class="pb-2">Nike Privacy Policy</p>
        <p class="pb-2">Your Privacy Choices</p>
        <p class="pb-2">CA Supply Chains Act</p>
    </div>

</div>
<!--  -->
<div class=" w-full bg-black hidden md:flex flex-col items-center">
    <div class="">
        <div class="flex  p-10 w-full">
            <div class=" flex gap-20 flex-wrap text-sm">
                <div class="">
                    <ul class="text-white text-sm nike-font">
                        <li class="pb-4">RESOURE</li>
                        <li class="pb-4">GET CARDS</li>
                        <li class="pb-4">FIND A STORE</li>
                        <li class="pb-4">BECOME A MEMBER</li>
                        <li class="pb-4">NIKE X NBA</li>
                        <li class="pb-4">NIKE JOURAL</li>
                        <li class="pb-4">Site Feedback</li>
            
                    </ul>
                </div>
                <div>
                    <p class="text-white nike-font">HELP</p>
                    <ul class=" text-[#7E7E7E] text-xs hal-font">
                        <li class="pt-2 cursor-pointer hover:text-white">Get Help</li>
                        <li class="pt-2 cursor-pointer hover:text-white">Order Status</li>
                        <li class="pt-2 cursor-pointer hover:text-white">Shipping and Delivery</li>
                        <li class="pt-2 cursor-pointer hover:text-white">Return</li>
                        <li class="pt-2 cursor-pointer hover:text-white">Order Cancellation</li>
                        <li class="pt-2 cursor-pointer hover:text-white">Payment Options</li>
                        <li class="pt-2 cursor-pointer hover:text-white">Gift Card Balance</li>
                        <li class="pt-2 cursor-pointer hover:text-white">Contact Us</li>
                    </ul>
                </div>
                <div>
                    <p class="text-white nike-font">COMPANY</p>
                    <ul class=" text-[#7E7E7E] text-xs hal-font">
                        <li class="pt-2 cursor-pointer hover:text-white">About Nike</li>
                        <li class="pt-2 cursor-pointer hover:text-white">News</li>
                        <li class="pt-2 cursor-pointer hover:text-white">Careers</li>
                        <li class="pt-2 cursor-pointer hover:text-white">Investors</li>
                        <li class="pt-2 cursor-pointer hover:text-white">Purpose</li>
                        <li class="pt-2 cursor-pointer hover:text-white">Sustainability</li>
                    </ul>
                </div>
                <div>
                    <p class="text-white nike-font">PROMOTIONS & DISCOUNTS</p>
                    <ul class=" text-[#7E7E7E] text-xs hal-font">
                        <li class="pt-2 cursor-pointer hover:text-white">Student</li>
                        <li class="pt-2 cursor-pointer hover:text-white">Military</li>
                        <li class="pt-2 cursor-pointer hover:text-white">Teacher</li>
                        <li class="pt-2 cursor-pointer hover:text-white">First Responders & Medical Professinals</li>
                        <li class="pt-2 cursor-pointer hover:text-white">Birtday</li>
                    </ul>
                </div>
                
                
            </div>
            <div class="">
                <div class=" text-[#7E7E7E] flex gap-4 flex-wrap">
                    
                        <a href="" class="bg-gray-500 flex justify-center items-center h-[30px] w-[30px] rounded-full hover:bg-[#d8d8d8]" >
                            <img class="w-4" src="../Images/twitter.png" alt="">
                          </a>
                    
                    
                        <a href="" class="bg-gray-500 flex justify-center items-center h-[30px] w-[30px] rounded-full hover:bg-[#d8d8d8]">
                            <img class="w-4" src="../Images/facebook.png" alt="">
                          </a>
                    
                    
                        <a href="" class="bg-gray-500 flex justify-center items-center h-[30px] w-[30px] rounded-full hover:bg-[#d8d8d8]">
                        <img class="w-4" src="../Images/youtube.png" alt="">
                      </a>
                    
                    
                        <a href="" class="bg-gray-500 flex justify-center items-center h-[30px] w-[30px] rounded-full hover:bg-[#d8d8d8]">
                            <img class="w-4" src="../Images/instagram.png" alt="">
                          </a>
                    
                </div>
            </div>
        </div>
        <div class="w-full flex justify-between gap-10 p-4 text-gray-600 flex-wrap">
            <div class=" flex items-end">
                <div class="flex gap-8 flex-wrap items-center justify-center">
                    <span class="flex justify-center items-center gap-2 text-white">
                            <i class="fa-solid fa-location-dot"></i>
  
                        <p class="text-white cursor-pointer text-sm hal-font">United State</p>
                    </span>

                    <p class="text-xs hal-font">© 2024 Nike, Inc. All Rights Reserved</p>
                </div>
    
            </div>
            <div class="flex gap-4 flex-col text-xs">
                <div class="flex gap-4 text-xs hal-fontflex-wrap">
                    <p class="pb-2 cursor-pointer hover:text-white">Guides</p>
                    <p class="pb-2 cursor-pointer hover:text-white">Terms of Sale</p>
                    <p class="pb-2 cursor-pointer hover:text-white">Terms of Use</p>
                    <p class="pb-2 cursor-pointer hover:text-white">Nike Privacy Policy</p>
                    <p class="pb-2 cursor-pointer hover:text-white">Your Privacy Choices</p>
                    
                    
                </div>
                <div class="flex justify-end text-xs hal-font">
                    <p class="pb-2 cursor-pointer hover:text-white">CA Supply Chains Act</p>
                </div>
            </div>
        </div>
    </div>
</div>