<div class="w-full bg-black  flex flex-col items-center">
    <div >
        <div class=" flex gap-20 p-10 ">
            <div class="">
                <p class="text-white">Featured</p>
                <ul class="pt-4 text-white ">
                    <li class="pt-2 cursor-pointer">Air Force 1</li>
                    <li class="pt-2 cursor-pointer">Jordan 1</li>
                    <li class="pt-2 cursor-pointer">Metcon</li>
                    <li class="pt-2 cursor-pointer">Air Max 270</li>
                    <li class="pt-2 cursor-pointer">Air Max 97</li>
                    <li class="pt-2 cursor-pointer">Blazer</li>
                    <li class="pt-2 cursor-pointer">Pegasus</li>
                </ul>
            </div>
            <div>
                <p class="text-white">Shoe</p>
                <ul class="pt-4 text-gray-600">
                    <li class="pt-2 cursor-pointer">All Shoes</li>
                    <li class="pt-2 cursor-pointer">Jordan Shoes</li>
                    <li class="pt-2 cursor-pointer">Running Shoes</li>
                    <li class="pt-2 cursor-pointer">Basketball Shoes</li>
                    <li class="pt-2 cursor-pointer">Tennis Shoes</li>
                    <li class="pt-2 cursor-pointer">Tranning Shoes</li>
                    <li class="pt-2 cursor-pointer">Custom Shoes</li>
                    <li class="pt-2 cursor-pointer">Sale Shoes</li>
                    <li class="pt-2 cursor-pointer">Soccer Cleats</li>
                </ul>
            </div>
            <div>
                <p class="text-white">Clothing</p>
                <ul class="pt-4 text-gray-600">
                    <li class="pt-2 cursor-pointer">All Clothing</li>
                    <li class="pt-2 cursor-pointer">Tops & T-Shirts</li>
                    <li class="pt-2 cursor-pointer">Shorts</li>
                    <li class="pt-2 cursor-pointer">Hoodies & Pullovers</li>
                    <li class="pt-2 cursor-pointer">Joggers & Sweatpants</li>
                    <li class="pt-2 cursor-pointer">Sports Bras</li>
                    <li class="pt-2 cursor-pointer">Pants & Tights</li>
                    <li class="pt-2 cursor-pointer">Socks</li>
                    <li class="pt-2 cursor-pointer">Yoga</li>
                    <li class="pt-2 cursor-pointer">NikeLab</li>
                    <li class="pt-2 cursor-pointer">Plus Size</li>
                    <li class="pt-2 cursor-pointer">Big & Tall</li>
                    <li class="pt-2 cursor-pointer">Sale Clothing</li>
                </ul>
            </div>
            <div>
                <p class="text-white">Kids</p>
                <ul class="pt-4 text-gray-600">
                    <li class="pt-2 cursor-pointer">Infant & Toddler Shoes</li>
                    <li class="pt-2 cursor-pointer">Kids Shoes</li>
                    <li class="pt-2 cursor-pointer">Kids Basketball Shoes</li>
                    <li class="pt-2 cursor-pointer">Kids Running Shoes</li>
                    <li class="pt-2 cursor-pointer">Kids Jordan Shoes</li>
                    <li class="pt-2 cursor-pointer">Kids Clothing</li>
                    <li class="pt-2 cursor-pointer">Kids Backpacks</li>
                    <li class="pt-2 cursor-pointer">Kids Socks</li>
                    <li class="pt-2 cursor-pointer">Kids Sale</li>
                </ul>
            </div>
            <div>
                <p class="text-white">Kids</p>
                <ul class="pt-4 text-gray-500">
                    <li class="pt-2 cursor-pointer">Infant & Toddler Shoes</li>
                    <li class="pt-2 cursor-pointer">Kids Shoes</li>
                    <li class="pt-2 cursor-pointer">Kids Basketball Shoes</li>
                    <li class="pt-2 cursor-pointer">Kids Running Shoes</li>
                    <li class="pt-2 cursor-pointer">Kids Jordan Shoes</li>
                    <li class="pt-2 cursor-pointer">Kids Clothing</li>
                    <li class="pt-2 cursor-pointer">Kids Backpacks</li>
                    <li class="pt-2 cursor-pointer">Kids Socks</li>
                    <li class="pt-2 cursor-pointer">Kids Sale</li>
                </ul>
            </div>
            <div>
                <div class=" text-gray-600 flex gap-4">
                    
                        <a href="" class="bg-gray-500 flex justify-center items-center h-[30px] w-[30px] rounded-full hover:bg-[#d8d8d8]" >
                            <img class="w-4" src="../Images/twitter.png" alt="">
                          </a>
                    
                    
                        <a href="" class="bg-gray-500 flex justify-center items-center h-[30px] w-[30px] rounded-full hover:bg-[#d8d8d8]">
                            <img class="w-4" src="../Images/facebook.png" alt="">
                          </a>
                    
                    
                        <a href="" class="bg-gray-500 flex justify-center items-center h-[30px] w-[30px] rounded-full hover:bg-[#d8d8d8]">
                        <img class="w-4" src="../Images/youtube.png" alt="">
                      </a>
                    
                    
                        <a href="" class="bg-gray-500 flex justify-center items-center h-[30px] w-[30px] rounded-full hover:bg-[#d8d8d8]">
                            <img class="w-4" src="../Images/instagram.png" alt="">
                          </a>
                    
                </div>
            </div>
            <div class="flex">
                    
                    
                    
                      
                
          </div>
        </div>
        <div class="w-full flex justify-between gap-10 p-4 text-gray-600">
            <div class=" flex items-end">
                <div class="flex gap-8">
                    <p class="text-white">United State</p>
                    <p>© 2024 Nike, Inc. All Rights Reserved</p>
                </div>
    
            </div>
            <div class=" ">
                <div class="flex gap-8 pb-4">
                    <p>ksdfds1</p>
                    <p>ksdfds1</p>
                    <p>ksdfds1</p>
                    <p>ksdfds1</p>
                    <p>ksdfds1</p>
                </div>
                <div>
                    <p>skldfsdfk</p>
                </div>
            </div>
        </div>
    </div>
</div>