<div class="hidden lg:block relative z-100 w-full bg-[#f5f5f5]">
    <div class="flex justify-between max-w-[1800px] mx-auto px-2 py-2">
      <div class="flex items-center justify-center">
        <div class="flex items-center">
            <a href="">
                <img class="h-6" src="../Images/jordan.png" alt="">
            </a>
            <a href="">
                <img class="h-6" src="../Images/Converse.png" alt="">
            </a>
          </div>
      </div>
      <div class="flex items-center">
        <ul class="flex divide-x divide-black text-xs">
          <a class="px-2" href=""><li>Find a store</li></a>
          <a class="px-2" href=""><li>Help</li></a> 
          <a class="px-2" href=""><li>Join us</li></a>
          <a class="px-2" href=""><li>Sign in</li></a>
        </ul>
      </div>
    </div>
  </div>