<div class="hidden lg:block relative z-100 w-full bg-[#f5f5f5] ">
    <div class="flex justify-between max-w-[1800px] mx-auto px-2 ">
      <div class="flex items-center justify-center">
        <div class="flex items-center">
            <a href="">
                <img class="h-6" src="../Images/jordan.png" alt="">
            </a>
            <a href="">
                <img class="h-6" src="../Images/Converse.png" alt="">
            </a>
          </div>
      </div>
      <div class="flex items-center relative">
        <ul class="flex items-center  text-xs">
          <a class="p-3 " href="" ><li >Find a store</li></a>
          |
          <a class="p-3" href="" id="helpBtn" ><li >Help</li></a> 
          |
          <a class="p-3" href=""><li >Join us</li></a>
          |
          <a class="p-3" href="../pages/sign-in.html"><li >Sign in</li></a>
        </ul>
        <div id="helpDropdown" class="bg-white rounded-lg w-[220px] pointer-events-none opacity-0 top-1 right-[43%]  duration-300  absolute z-50 ">
          <div class=" p-4 space-y-4">
            <div>
              <h3 >HELP</h3>
            </div>
            <ul class="text-xs text-gray-700 space-y-3">
              <li>
                <a class="hover:text-black" href="#">Order Status</a>
              </li>
              <li>
                <a class="hover:text-black" href="#">Shipping and Delivery</a>
              </li>
              <li>
                <a class="hover:text-black" href="#">Return</a>
              </li>
              <li>
                <a class="hover:text-black" href="#">Order Cancellation</a>
              </li>
              <li>
                <a class="hover:text-black" href="#">Size Charts</a>
              </li>
              <li>
                <a class="hover:text-black" href="#">Contact Us</a>
              </li>
              <li>
                <a class="hover:text-black" href="#">Membership</a>
              </li>
              <li>
                <a class="hover:text-black" href="#">Promotion and Discounts</a>
              </li>
              <li>
                <a class="hover:text-black" href="#">Product Advice</a>
              </li>
              <li>
                <a class="hover:text-black" href="#">Send Us Feedback</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 