<div class="w-full bg-blue-300">
    <a href="" >
        <div class="flex flex-col >
            <div class="pic-hero-section">
                <img class="hidden sm:flex" src="../Images/hero-section.jpeg" alt="" />
                <img class="sm:hidden flex" src="../Images/min-nike.jpeg" alt="" />
              </div>
              <div class="text-center">
                 
                    <p>Feel The Unreal</p>
                    <h3>AIR MAX DN</h3>
                    <p>
                      The next generation of Air technology is here
                    </p>
                    <button href="">Shop</button>
                </div>
        </div>
        
      </a>
  </div>