<div class="w-full >
    <a href="" class="w-full" >
        <div class="flex flex-col justify-center items-center w-full">
            <div class="h-full w-full">
                <img class="h-full w-full hidden sm:flex" src="../Images/hero-section.jpeg" alt="" />
                <img class="sm:hidden flex " src="../Images/min-nike.jpeg" alt="" />
              </div>
              <div class="text-center p-10">
                 
                    <p>Brooks's Looks</p>
                    <h3 class="text-6xl lilita-one-regular">GEARS-UP FOR <br/>THE MAJORS</h3>
                    <p class="pt-6">
                      How the golf sensation is gearing up for this season’s Majors and beyond.
                    </p>
                    <a href="./shop.html">
                    <button class="mt-6 bg-black text-white p-2 pr-4 pl-4 rounded-full" >Shop the Collection</button>
                    </a>
                </div>
        </div>
        
      </a>
  </div>