<div class="">
  <div class="flex justify-between mb-4 p-4">
    <h2 class="text-3xl font-medium flex items-center">
      Nike Membership
    </h2>
    <div class="hidden lg:flex gap-2 items-center">
      <a id="member-back-btn"
        class="cursor-pointer flex justify-center items-center h-[50px] w-[50px] rounded-full bg-gray-100 hover:bg-[#d8d8d8]"
      >
        <img class="w-4" src="../Images/back.png" alt="">
      </a>
      <a id="member-next-btn"
        class="cursor-pointer flex justify-center items-center h-[50px] w-[50px] rounded-full bg-gray-200 hover:bg-[#d8d8d8]"
      >
        <img class="w-4" src="../Images/next.png" alt="">
      </a>
    </div>
  </div>
  
  <div 
    id="member-scroll-container"
    class="flex flex-no-wrap gap-2 overflow-x-scroll scrolling-touch items-start mb-8 p-4 "
  >
    <div class="flex-none relative z-[-1] w-1/1 lg:w-1/3 lg:pb-4 border">\

      <a href="#" class="space-y-4 relative">
        <div class="bg-amber-300 w-full flex items-end">
          <img  class="w-full h-auto" src="../Images/member-1.jpeg" alt="">
          <div class="absolute p-10">
              <p class="text-base text-white">Nike Alphafly 3</p>
              <h2 class="text-2xl  text-white">Push Beyond What's Possible</h2>
              <button class="mt-6 h-[36px] w-[74px] bg-white py-2 px-4 rounded-full flex items-center ">Shop</button>
          </div>
        </div>
      </a>

    </div>
    <div
      class="flex-none relative z-[-1] w-1/1 lg:w-1/3 lg:pb-4 border"
    >
      <a href="#" class="space-y-4 relative">
        <div class="bg-amber-300 w-full flex items-end">
          <img  class="w-full h-auto" src="../Images/member-2.jpeg" alt="">
          <div class="absolute p-10">
              <p class="text-base text-white">Nike Alphafly 3</p>
              <h2 class="text-2xl  text-white">Push Beyond What's Possible</h2>
              <button class="mt-6 h-[36px] w-[74px] bg-white py-2 px-4 rounded-full flex items-center ">Shop</button>
          </div>
      </div>
        
      </a>
    </div>
    <div
      class="flex-none relative z-[-1] w-1/1 lg:w-1/3 lg:pb-4 border"
    >
      <a href="#" class="space-y-4 relative">
        <div class="bg-amber-300 w-full flex items-end">
          <img  class="w-full h-auto" src="../Images/member-3.jpeg" alt="">
          <div class="absolute p-10">
              <p class="text-base text-white">Nike Alphafly 3</p>
              <h2 class="text-2xl  text-white">Push Beyond What's Possible</h2>
              <button class="mt-6 h-[36px] w-[74px] bg-white py-2 px-4 rounded-full flex items-center ">Shop</button>
          </div>
      </div>
        
      </a>
    </div>
    <div
      class="flex-none relative z-[-1] w-1/1 lg:w-1/3 lg:pb-4 border"
    >
      <a href="#" class="space-y-4 relative">
        <div class="bg-amber-300 w-full flex items-end">
          <img  class="w-full h-auto" src="../Images/member-4.jpeg" alt="">
          <div class="absolute p-10">
              <p class="text-base text-white">Nike Alphafly 3</p>
              <h2 class="text-2xl  text-white">Push Beyond What's Possible</h2>
              <button class="mt-6 h-[36px] w-[74px] bg-white py-2 px-4 rounded-full flex items-center ">Shop</button>
          </div>
      </div>
        
      </a>
    </div>
    <div
      class="flex-none w-1/1 lg:w-1/3 lg:pb-4 border"
    >
      <a href="#" class="space-y-4 relative">
        <div class="bg-amber-300 w-full flex items-end">
          <img  class="w-full h-auto" src="../Images/member-5.jpeg" alt="">
          <div class="absolute p-10">
              <p class="text-base text-white">Nike Alphafly 3</p>
              <h2 class="text-2xl  text-white">Push Beyond What's Possible</h2>
              <button class="mt-6 h-[36px] w-[74px] bg-white py-2 px-4 rounded-full flex items-center ">Shop</button>
          </div>
      </div>
        
      </a>
    </div>
    
    
    
  </div>
</div>