<div class="w-full  flex justify-center">
    <div class=" flex gap-20">
        <div>
            <p>Featured</p>
            <ul class="pt-4 text-gray-600">
                <li class="pt-2 cursor-pointer">Air Force 1</li>
                <li class="pt-2 cursor-pointer">Jordan 1</li>
                <li class="pt-2 cursor-pointer">Metcon</li>
                <li class="pt-2 cursor-pointer">Air Max 270</li>
                <li class="pt-2 cursor-pointer">Air Max 97</li>
                <li class="pt-2 cursor-pointer">Blazer</li>
                <li class="pt-2 cursor-pointer">Pegasus</li>
            </ul>
        </div>
        <div>
            <p>Shoe</p>
            <ul class="pt-4 text-gray-600">
                <li class="pt-2 cursor-pointer">All Shoes</li>
                <li class="pt-2 cursor-pointer">Jordan Shoes</li>
                <li class="pt-2 cursor-pointer">Running Shoes</li>
                <li class="pt-2 cursor-pointer">Basketball Shoes</li>
                <li class="pt-2 cursor-pointer">Tennis Shoes</li>
                <li class="pt-2 cursor-pointer">Tranning Shoes</li>
                <li class="pt-2 cursor-pointer">Custom Shoes</li>
                <li class="pt-2 cursor-pointer">Sale Shoes</li>
                <li class="pt-2 cursor-pointer">Soccer Cleats</li>
            </ul>
        </div>
        <div>
            <p>Clothing</p>
            <ul class="pt-4 text-gray-600">
                <li class="pt-2 cursor-pointer">All Clothing</li>
                <li class="pt-2 cursor-pointer">Tops & T-Shirts</li>
                <li class="pt-2 cursor-pointer">Shorts</li>
                <li class="pt-2 cursor-pointer">Hoodies & Pullovers</li>
                <li class="pt-2 cursor-pointer">Joggers & Sweatpants</li>
                <li class="pt-2 cursor-pointer">Sports Bras</li>
                <li class="pt-2 cursor-pointer">Pants & Tights</li>
                <li class="pt-2 cursor-pointer">Socks</li>
                <li class="pt-2 cursor-pointer">Yoga</li>
                <li class="pt-2 cursor-pointer">NikeLab</li>
                <li class="pt-2 cursor-pointer">Plus Size</li>
                <li class="pt-2 cursor-pointer">Big & Tall</li>
                <li class="pt-2 cursor-pointer">Sale Clothing</li>
            </ul>
        </div>
        <div>
            <p>Kids</p>
            <ul class="pt-4 text-gray-600">
                <li class="pt-2 cursor-pointer">Infant & Toddler Shoes</li>
                <li class="pt-2 cursor-pointer">Kids Shoes</li>
                <li class="pt-2 cursor-pointer">Kids Basketball Shoes</li>
                <li class="pt-2 cursor-pointer">Kids Running Shoes</li>
                <li class="pt-2 cursor-pointer">Kids Jordan Shoes</li>
                <li class="pt-2 cursor-pointer">Kids Clothing</li>
                <li class="pt-2 cursor-pointer">Kids Backpacks</li>
                <li class="pt-2 cursor-pointer">Kids Socks</li>
                <li class="pt-2 cursor-pointer">Kids Sale</li>
            </ul>
        </div>
    </div>
</div>