<div class="w-full p-8">
    <div class="sm:hidden">
        <ul>
            <li class="pb-4">Featured</li>
            <li class="pb-4">Shoe</li>
            <li class="pb-4">Clothing</li>
            <li class="pb-4">Kids</li>
        </ul>
    </div>
    <div id="menu-below-hover" class="w-full hidden sm:flex sm:justify-center h-[14.5vh] duration-300 p-4 overflow-hidden ">
        
        <div class="flex flex-row gap-20 ">
            <div>
                <p class="menu-below-btn">Featured</p>
                <ul class="pt-4 text-gray-600">
                    <li class="pt-2 menu-below-btn cursor-pointer">Air Force 1</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Jordan 1</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Metcon</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Air Max 270</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Air Max 97</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Blazer</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Pegasus</li>
                </ul>
            </div>
            <div>
                <p class="menu-below-btn">Shoe</p>
                <ul class="pt-4 text-gray-600">
                    <li class="pt-2 menu-below-btn cursor-pointer">All Shoes</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Jordan Shoes</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Running Shoes</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Basketball Shoes</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Tennis Shoes</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Tranning Shoes</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Custom Shoes</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Sale Shoes</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Soccer Cleats</li>
                </ul>
            </div>
            <div>
                <p class="menu-below-btn">Clothing</p>
                <ul class="pt-4 text-gray-600">
                    <li class="pt-2 menu-below-btn cursor-pointer">All Clothing</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Tops & T-Shirts</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Shorts</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Hoodies & Pullovers</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Joggers & Sweatpants</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Sports Bras</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Pants & Tights</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Socks</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Yoga</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">NikeLab</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Plus Size</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Big & Tall</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Sale Clothing</li>
                </ul>
            </div>
            <div>
                <p class="menu-below-btn">Kids</p>
                <ul class="pt-4 text-gray-600">
                    <li class="pt-2 menu-below-btn cursor-pointer">Infant & Toddler Shoes</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Kids Shoes</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Kids Basketball Shoes</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Kids Running Shoes</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Kids Jordan Shoes</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Kids Clothing</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Kids Backpacks</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Kids Socks</li>
                    <li class="pt-2 menu-below-btn cursor-pointer">Kids Sale</li>
                </ul>
            </div>
        </div>
    </div>
</div>