<div class="w-full top-0 bg-white z-[51] " id="navbar">
  <div
    class="flex justify-between lg:grid grid-cols-3 max-w-[1800px] mx-auto px-2"
  >
    <a href="./index.html" class="flex items-center min-w-16 max-w-16 justify-center">
      <img
        class="w-full h-auto"
        src="https://i.pinimg.com/originals/20/60/2d/20602d43cc993811e5a6bd1886af4f33.png"
        alt=""
      />
    </a>

    <div class="hidden lg:flex items-center justify-center">
      <ul class="flex flex-wrap">
        <a id="" class="new-featured-menu px-2 py-4 hover:opacity-50" href="./shop.html"
          ><li class="new-featured-menu">New & Featured</li></a
        >
        <a
          id="men-menu-btn"
          class="new-featured-menu px-2 py-4 hover:opacity-50"
          href="./men.html"
          ><li class="">Men</li></a
        >
        <a
          id="women-menu-btn"
          class="new-featured-menu px-2 py-4 hover:opacity-50"
          href="./women.html"
          ><li class="">Women</li></a
        >
        <a id="kid-menu-btn" class="new-featured-menu px-2 py-4 hover:opacity-50" href="./kid.html"
          ><li class="">Kids</li></a
        >
        <button
          id="acc-menu-btn"
          class="new-featured-menu px-2 py-4 hover:opacity-50 accessories"
          
          ><li class="">Accessories</li></button
        >
        <button
          id="sale-menu-btn"
          class=" new-featured-menu px-2 py-4 hover:opacity-50"
          href=""
          ><li class="">Sales</li></button
        >
      </ul>
    </div>
    <!-- for phone screen -->
    <div class="flex flex-row lg:hidden ">
      <a
        href=""
        class="flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]"
      >
        <img class="w-4" src="../Images/search-interface-symbol.png" alt="" />
      </a>
      <a
        href=""
        class="flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]"
      >
        <img class="w-4" src="../Images/cart.png" alt="" />
      </a>
      <a
        href=""
        class="flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]"
      >
        <img class="w-4" src="../Images/user.png" alt="" />
      </a>
      <button
        id="min-menu-btn"
        href=""
        class="flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]"
      >
        <img class="w-4" src="../Images/menu.png" alt="" />
      </button>
    </div>
    <!--  -->
    <div class="hidden lg:flex flex-row justify-end items-center">
      <div class="flex flex-row items-center">
        <a
          onClick=""
          class="menu-hover absolute flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]"
        >
          <img class="w-6" src="../Images/search-interface-symbol.png" alt="" />
        </a>
        <input
          class="bg-[#eeeeee] min-h-[40px] min-w-[180px] rounded-[60px] text-gray-400 text-center hover:bg-[#d8d8d8] outline-none"
          value="Search"
          type="text"
        />
      </div>
      <a
        href=""
        class="flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]"
      >
        <img class="w-6" src="../Images/like.png" alt="" />
      </a>
      <a
        id="max-cart-btn"
        href=""
        class="flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]"
      >
        <img class="w-6" src="../Images/cart.png" alt="" />
      </a>
    </div>
  </div>
  <div
    id="dropdown-1"
    class="hidden  md:flex absolute z-50 duration-300 h-[0px] w-full flex-col bg-white text-gray-800 group-hover:visible"
  >
    <div
      id="below-dropdown-1"
      class="opacity-0 pointer-events-none p-6 w-full flex gap-20 justify-center"
    >
      <div>
        <h3 class="font-semibold">New Styles Added</h3>
        <ul class="pt-4 text-gray-600">
          <li class="pt-2  cursor-pointer hover:text-black">
            Sale: Up to 50% Off
          </li>
        </ul>
      </div>
      <div>
        <h3 class="font-semibold">New & Featured</h3>
        <ul class="pt-4 text-gray-600">
          <li class="pt-2 cursor-pointer hover:text-black">New Arrivals</li>
          <li class="pt-2 cursor-pointer hover:text-black">Best Sellers</li>
          <li class="pt-2 cursor-pointer hover:text-black">Member Product</li>
          <li class="pt-2 cursor-pointer hover:text-black">
            New & Upcomming Drops
          </li>
          <li class="pt-2 cursor-pointer hover:text-black">
            SNKRS Lanuch Calendar
          </li>
          <li class="pt-2 cursor-pointer hover:text-black">New in ACG</li>
          <li class="pt-2 cursor-pointer hover:text-black">Retro Running</li>
          <li class="pt-2 cursor-pointer hover:text-black">See Price in Bag</li>
        </ul>
      </div>
      <div>
        <h3 class="font-semibold">Shop Classic</h3>
        <ul class="pt-4 text-gray-600">
          <li class="pt-2 cursor-pointer hover:text-black">Air Jordan 1</li>
          <li class="pt-2 cursor-pointer hover:text-black">Air Force</li>
          <li class="pt-2 cursor-pointer hover:text-black">Dunk</li>
          <li class="pt-2 cursor-pointer hover:text-black">Air Max</li>
          <li class="pt-2 cursor-pointer hover:text-black">Blazer</li>
        </ul>
      </div>
      <div>
        <div>
          <h3 class="font-semibold">New For Men</h3>
          <ul class="pt-4 text-gray-600">
            <li class="pt-2 cursor-pointer hover:text-black">Shoes</li>
            <li class="pt-2 cursor-pointer hover:text-black">Clothing</li>
          </ul>
        </div>
        <div class="pt-4">
          <h3 class="font-semibold">New For Women</h3>
          <ul class="pt-4 text-gray-600">
            <li class="pt-2 cursor-pointer hover:text-black">Shoes</li>
            <li class="pt-2 cursor-pointer hover:text-black">Clothing</li>
          </ul>
        </div>
        <div class="pt-4">
          <h3 class="font-semibold">New Markdowns</h3>
          <ul class="pt-4 text-gray-600">
            <li class="pt-2 cursor-pointer hover:text-black">Shoes</li>
            <li class="pt-2 cursor-pointer hover:text-black">Clothing</li>
          </ul>
        </div>
      </div>
      <div>
        <h3 class="font-semibold">Jordan</h3>
        <ul class="pt-4 text-gray-600">
          <li class="pt-2 cursor-pointer hover:text-black">Shop All</li>
          <li class="pt-2 cursor-pointer hover:text-black">Latest in Jordan</li>
          <li class="pt-2 cursor-pointer hover:text-black">Men</li>
          <li class="pt-2 cursor-pointer hover:text-black">Women</li>
          <li class="pt-2 cursor-pointer hover:text-black">Kids</li>
          <li class="pt-2 cursor-pointer hover:text-black">Basketball</li>
        </ul>
      </div>
    </div>
  </div>
  <div
    id="kid-container"
    class="hidden  md:flex z-50 h-[0px] absolute duration-300 w-full flex-col bg-white text-gray-800 group-hover:visible"
  >
    <div class="opacity-0 pointer-events-none p-6 w-full flex gap-20 justify-center">
      <div>
        <h3 class="font-semibold">New Styles Added</h3>
        <ul class="pt-4 text-gray-600">
          <li class="pt-2 cursor-pointer hover:text-black">
            Sale: Up to 50% Off
          </li>
        </ul>
      </div>
      <div>
        <h3 class="font-semibold">New & Featured</h3>
        <ul class="pt-4 text-gray-600">
          <li class="pt-2 cursor-pointer hover:text-black">New Arrivals</li>
          <li class="pt-2 cursor-pointer hover:text-black">Best Sellers</li>
          <li class="pt-2 cursor-pointer hover:text-black">
            Teen Girl Essentials"
          </li>
          <li class="pt-2 cursor-pointer hover:text-black">
            Skate X Lifestyle
          </li>
          <li class="pt-2 cursor-pointer hover:text-black">
            SNKRS Lanuch Calendar
          </li>
          <li class="pt-2 cursor-pointer hover:text-black">Summer Pastels</li>
          <li class="pt-2 cursor-pointer hover:text-black">
            Add to Bag to See Price
          </li>
        </ul>
      </div>
      <div>
        <div>
          <h3 class="font-semibold">Shoes by Size</h3>
          <ul class="pt-4 text-gray-600">
            <li class="pt-2 cursor-pointer hover:text-black">
              Big Kids (1Y - 7Y)
            </li>
            <li class="pt-2 cursor-pointer hover:text-black">
              Little Kids (8C - 3Y)
            </li>
            <li class="pt-2 cursor-pointer hover:text-black">
              Baby & Toddler (1C - 10C)
            </li>
          </ul>
        </div>
        <div>
          <h3 class="font-semibold pt-4">All Shoes</h3>
          <ul class="pt-4 text-gray-600">
            <li class="pt-2 cursor-pointer hover:text-black">
              Lifestyle
            </li>
            <li class="pt-2 cursor-pointer hover:text-black">
              Jordan
            </li>
            <li class="pt-2 cursor-pointer hover:text-black">
              Dunk
            </li>
            <li class="pt-2 cursor-pointer hover:text-black">
              Air Max
            </li>
            <li class="pt-2 cursor-pointer hover:text-black">
              Air Force 1
            </li>
            <li class="pt-2 cursor-pointer hover:text-black">
              Basketball
            </li>
            <li class="pt-2 cursor-pointer hover:text-black">
              Running
            </li>
            <li class="pt-2 cursor-pointer hover:text-black">
              Sandals & Slides
            </li>

          </ul>
        </div>
      </div>
      <div>
        <div>
          <h3 class="font-semibold">Clothing by Size</h3>
          <ul class="pt-4 text-gray-600">
            <li class="pt-2 cursor-pointer hover:text-black">Big Kids (XS - XL)</li>
            <li class="pt-2 cursor-pointer hover:text-black">Little Kids (4 - 7)</li>
            <li class="pt-2 cursor-pointer hover:text-black">Baby & Toddler (0M - 4T)</li>
            <li class="pt-2 cursor-pointer hover:text-black">Extended Sizing</li>
          </ul>
        </div>
        <div class="pt-4">
          <h3 class="font-semibold">All Clothing</h3>
          <ul class="pt-4 text-gray-600">
            <li class="pt-2 cursor-pointer hover:text-black">Jordan</li>
            <li class="pt-2 cursor-pointer hover:text-black">Matching Sets</li>
            <li class="pt-2 cursor-pointer hover:text-black">Tops & T-Shirts</li>
            <li class="pt-2 cursor-pointer hover:text-black">Shorts</li>
            <li class="pt-2 cursor-pointer hover:text-black">Hoodies & Sweatshirts</li>
            <li class="pt-2 cursor-pointer hover:text-black">Jackets & Vests</li>
            <li class="pt-2 cursor-pointer hover:text-black">Pants & Tights</li>
            <li class="pt-2 cursor-pointer hover:text-black">Bras</li>
            <li class="pt-2 cursor-pointer hover:text-black">Socks</li>
          </ul>
        </div>
      </div>
      <div>
        <h3 class="font-semibold">Shop by Sport</h3>
        <ul class="pt-4 text-gray-600">
          <li class="pt-2 cursor-pointer hover:text-black">Basketball</li>
          <li class="pt-2 cursor-pointer hover:text-black">Golf</li>
          <li class="pt-2 cursor-pointer hover:text-black">Soccer</li>
          <li class="pt-2 cursor-pointer hover:text-black">Running</li>
          <li class="pt-2 cursor-pointer hover:text-black">Baseball</li>
          <li class="pt-2 cursor-pointer hover:text-black">Football</li>
          <li class="pt-2 cursor-pointer hover:text-black">Softball</li>
          <li class="pt-2 cursor-pointer hover:text-black">Tennis</li>
          <li class="pt-2 cursor-pointer hover:text-black">Dance</li>
          <li class="pt-2 cursor-pointer hover:text-black">Swimming</li>
          <li class="pt-2 cursor-pointer hover:text-black">Skateboarding</li>
        </ul>
      </div>
    </div>
  </div>
  <men-container
    id="men-container"
    class="hidden  md:flex absolute z-50 duration-300 h-[0px] w-full flex-col bg-white text-gray-800 group-hover:visible"
  ></men-container>
  <women-container
    id="women-container"
    class="hidden  md:flex absolute z-50 duration-300 h-[0px] w-full flex-col bg-white text-gray-800 group-hover:visible"
  ></women-container>
  <acc-container
    id="acc-container"
    class="hidden  md:flex absolute z-50 duration-300 h-[0px] w-full flex-col bg-white text-gray-800 group-hover:visible"
  ></acc-container>
  <sale-container
    id="sale-container"
    class="hidden  md:flex absolute z-50 duration-300 h-[0px] w-full flex-col bg-white text-gray-800 group-hover:visible"
  ></sale-container>
</div>
