<div class="w-full h-full bg-white">
  <div class="flex justify-between max-w-[1800px] mx-auto px-2 py-4">
    <div class="flex items-center min-w-16 max-w-16 justify-center">
      <img
        class="w-full h-auto"
        src="https://i.pinimg.com/originals/20/60/2d/20602d43cc993811e5a6bd1886af4f33.png"
        alt=""
      />
    </div>
    <div class="hidden lg:flex items-center justify-center">
      <ul class="flex flex-wrap">
        <a  id="" class="new-featured-menu px-2 hover:opacity-50" href=""
          ><li class="new-featured-menu">New & Featured</li></
        >
        <a  class="new-featured-menu px-2 hover:opacity-50" href=""
          ><li class="Men-menu">Men</li></a
        >
        <a  class="new-featured-menu px-2 hover:opacity-50" href=""
          ><li class="Women-menu">Women</li></a
        >
        <a  class="new-featured-menu px-2 hover:opacity-50" href=""
          ><li class="Kids-menu">Kids</li></a
        >
        <a  class="new-featured-menu px-2 hover:opacity-50" href=""
          ><li class="Accessories-menu">Accessories</li></a
        >
      </ul>
    </div>
    <!-- for phone screen -->
    <div class="flex flex-row lg:hidden">
      <a
        href=""
        class="flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]"
      >
        <img class="w-4" src="../Images/search-interface-symbol.png" alt="" />
      </a>
      <a
        href=""
        class="flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]"
      >
        <img class="w-4" src="../Images/cart.png" alt="" />
      </a>
      <a
        href=""
        class="flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]"
      >
        <img class="w-4" src="../Images/user.png" alt="" />
      </a>
      <a
        href=""
        class="flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]"
      >
        <img class="w-4" src="../Images/menu.png" alt="" />
      </a>
    </div>
    <!--  -->
    <div class="hidden lg:flex flex-row">
      <div class="flex flex-row items-center ">
        <a
        onClick="" class="menu-hover absolute flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]"
        >
          <img class="w-6" src="../Images/search-interface-symbol.png" alt="" />
        </a>
        <input
          class="bg-[#eeeeee] min-h-[40px] min-w-[180px] rounded-[60px] text-center hover:bg-[#d8d8d8] border-none"
          value="Search"
          type="text"
        />
      </div>
      <a
        href=""
        class="flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]"
      >
        <img class="w-6" src="../Images/like.png" alt="" />
      </a>
      <a
        href=""
        class="flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]"
      >
        <img class="w-6" src="../Images/cart.png" alt="" />
      </a>
    </div>
  </div>
  <div id="dropdown-1" class="invisible absolute z-50 flex w-full flex-col bg-white py-1 px-4 text-gray-800 group-hover:visible">
    <div class="p-6 w-full flex gap-20 justify-center">
      <div>
        <h3 class="font-semibold">New Markdowns</h3>
        <ul class="pt-4 text-gray-600">
          <li class="pt-2 cursor-pointer hover:text-black">Sale: Up to 50% Off</li>
        </ul>
      </div>
      <div>
        <h3 class="font-semibold">New & Featured</h3>
        <ul class="pt-4 text-gray-600">
          <li class="pt-2 cursor-pointer hover:text-black">New Arrivals</li>
          <li class="pt-2 cursor-pointer hover:text-black">Best Sellers</li>
          <li class="pt-2 cursor-pointer hover:text-black">Member Product</li>
          <li class="pt-2 cursor-pointer hover:text-black">New & Upcomming Drops</li>
          <li class="pt-2 cursor-pointer hover:text-black">SNKRS Lanuch Calendar</li>
          <li class="pt-2 cursor-pointer hover:text-black">New in ACG</li>
          <li class="pt-2 cursor-pointer hover:text-black">Retro Running</li>
          <li class="pt-2 cursor-pointer hover:text-black">See Price in Bag</li>
        </ul>
      </div>
      <div>
        <h3 class="font-semibold">Shop Classic</h3>
        <ul class="pt-4 text-gray-600">
          <li class="pt-2 cursor-pointer hover:text-black">Air Jordan 1</li>
          <li class="pt-2 cursor-pointer hover:text-black">Air Force</li>
          <li class="pt-2 cursor-pointer hover:text-black">Dunk</li>
          <li class="pt-2 cursor-pointer hover:text-black">Air Max</li>
          <li class="pt-2 cursor-pointer hover:text-black">Blazer</li>
        </ul>
      </div>
      <div>
        <div>
          <h3 class="font-semibold">New For Men</h3>
        <ul class="pt-4 text-gray-600">
          <li class="pt-2 cursor-pointer hover:text-black">Shoes</li>
          <li class="pt-2 cursor-pointer hover:text-black">Clothing</li>
        </ul>
        </div>
        <div class="pt-4">
          <h3 class="font-semibold">New For Women</h3>
        <ul class="pt-4 text-gray-600">
          <li class="pt-2 cursor-pointer hover:text-black">Shoes</li>
          <li class="pt-2 cursor-pointer hover:text-black">Clothing</li>
        </ul>
        </div>
        <div class="pt-4">
          <h3 class="font-semibold">New Markdowns</h3>
        <ul class="pt-4 text-gray-600">
          <li class="pt-2 cursor-pointer hover:text-black">Shoes</li>
          <li class="pt-2 cursor-pointer hover:text-black">Clothing</li>
        </ul>
        </div>
      </div>
      <div>
        <h3 class="font-semibold">Jordan</h3>
        <ul class="pt-4 text-gray-600">
          <li class="pt-2 cursor-pointer hover:text-black">Shop All</li>
          <li class="pt-2 cursor-pointer hover:text-black">Latest in Jordan</li>
          <li class="pt-2 cursor-pointer hover:text-black">Men</li>
          <li class="pt-2 cursor-pointer hover:text-black">Women</li>
          <li class="pt-2 cursor-pointer hover:text-black">Kids</li>
          <li class="pt-2 cursor-pointer hover:text-black">Basketball</li>
        </ul>
      </div>
    </div>
  </div>
</div>
