<div class="w-full bg-white">
    <div class="flex justify-between max-w-[1800px] mx-auto px-2 py-4">
      <div class="flex items-center justify-center">
        <img class="h-6" src="https://i.pinimg.com/originals/20/60/2d/20602d43cc993811e5a6bd1886af4f33.png" alt="">
      </div>
      <div class="flex items-center justify-center">
            <ul class="flex">
            <a class="px-2 hover:opacity-50" href=""><li class="new-featured-menu">New & Featured</li></a>
            <a class="px-2 hover:opacity-50" href=""><li class="Men-menu">Men</li></a>
            <a class="px-2 hover:opacity-50" href=""><li class="Women-menu">Women</li></a>
            <a class="px-2 hover:opacity-50" href=""><li class="Kids-menu">Kids</li></a>
            <a class="px-2 hover:opacity-50" href=""><li class="Accessories-menu">Accessories</li></a>
        </ul>
      </div>
      <div class="flex flex-row">
            <div class="flex flex-row items-center">
                <a class="absolute flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]">
                    <img class="w-6" src="../Images/search-interface-symbol.png" alt="">
                </a>
                <input class="bg-[#eeeeee] min-h-[40px] min-w-[180px] rounded-[60px] text-center hover:bg-[#d8d8d8] border-none" value="Search" type="text" />
              </div>
                <a href="" class="flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]" >
                  <img class="w-6" src="../Images/like.png" alt="">
                </a>
                <a href="" class="flex justify-center items-center h-[40px] w-[40px] rounded-full hover:bg-[#d8d8d8]">
                  <img class="w-6" src="../Images/cart.png" alt="">
                </a>
            
      </div>
    </div>
  </div>
