<div class="w-full">
    <div class="max-w-[1800px] mx-auto mb-4 p-4">
        <p class="text-3xl">Marathon Speed Ahead</p>
    </div>
    <a href="" >
        <div class="hidden sm:flex flex-col justify-center items-center w-full">
            <div class="h-full w-full">
                <img class="h-full w-full hidden sm:flex" src="../Images/men/hero-section.jpg" />
                <img class="sm:hidden flex p-4" src="../Images/men/min-big-hero-section.jpeg" alt="" />
              </div>
              <div class="text-center p-10">
                 
                    <p>Nike Alphafly 3</p>
                    <h3 class="text-6xl anton-regular">LEAVE YOURSELF IN <br/>THE DUST</h3>
                    <p class="pt-6">
                        Stay fresh from start to mile 26.2 in the electric new colorway.
                    </p>
                    <button class="mt-6 bg-black text-white p-2 pr-4 pl-4 rounded-full" href="">Shop</button>
                </div>
        </div>
        <!--  -->
        <div class="flex flex-col justify-center items-center w-full sm:hidden">
            <div class="h-full w-full">
                <img class="h-full w-full hidden sm:flex" src="../Images/men/hero-section.jpg" />
                <img class="sm:hidden flex p-4" src="../Images/men/min-big-hero-section.jpeg" alt="" />
              </div>
              <div class="">
                 
                    <p>Nike Alphafly 3</p>
                    <h3 class="text-5xl anton-regular">LEAVE YOURSELF IN THE DUST</h3>
                    <p class="pt-6">
                        Stay fresh from start to mile 26.2 in the electric new colorway.
                    </p>
                    <button class="mt-6 bg-black text-white p-2 pr-4 pl-4 rounded-full" href="">Shop</button>
                </div>
        </div>
        
      </a>
</div>