<div class="mb-10 pr-4 pl-4">
    <div class="flex justify-between mb-4 pb-8">
        <h2 class="text-3xl font-medium flex items-center">
            Brooks Koepka's Favs
        </h2>
    
      </div>
    <div class="w-full flex flex-col md:flex-row justify-between gap-2">
        <div class=" w-full flex items-end">
            <img  class="w-full h-auto" src="../Images/men/brook-1.jpg" alt="">
            <div class="absolute p-10">
                <h2 class="text-2xl  text-white">Brooks's Golf Essentials</h2>
                <button class="mt-6 h-[36px] w-[74px] bg-white py-2 px-4 rounded-full flex items-center ">Shop</button>
            </div>
        </div>
        <div class=" w-full flex items-end">
            <img  class="w-full h-auto" src="../Images/men/brook-2.jpg" alt="">
            <div class="absolute p-10">
                <h2 class="text-2xl  text-white">Brooks's Off-Course Picks</h2>
                <button class="mt-6 h-[36px] w-[74px] bg-white py-2 px-4 rounded-full flex items-center ">Shop</button>
            </div>
        </div>
    </div>
</div>