<div id="menMenu" class="w-full flex justify-between py-4 duration-300  sticky top-0 z-30  bg-white flex-col md:flex-row">
    <h3 class="flex-1 flex items-center">Men</h3>
    <div class="flex items-center  flex-2 flex-nowrap text-nowrap overflow-hidden">
        <ul class="flex">
            <li class="pr-4 md:p-4">Shoes</li>
            <li class="pr-4 md:p-4">Clothing</li>
            <li class="pr-4 md:p-4">Accessories</li>
            <li class="pr-4 md:p-4">Sale</li>
        </ul>
    </div>
    <div class="hidden lg:flex flex-1">
        <h3 class="p-4 invisible">Men</h3>
    </div>
</div>