<div class="w-full">
    <a href="" >
        <div class="flex flex-col justify-center items-center w-full">
            <div class="max-h-[1800px] w-full">
                <img class="h-full w-full hidden sm:flex" src="../Images/women/women-s-shoes-clothing-accessories.png" />
                <img class="sm:hidden flex" src="../Images/women/women-s-shoes-clothing-accessories(1).png" alt="" />
              </div>
              <div class="text-center p-10">
                    <p>Step Into the Unreal</p>
                    <h3 class="text-6xl anton-regular">AIR MAX DN</h3>
                    <p class="pt-6">
                        Stay fresh from start to mile 26.2 in the electric new colorway.
                    </p>
                    <button class="mt-6 bg-black text-white p-2 pr-4 pl-4 rounded-full" href="">Shop</button>
                </div>
            </div>
        
      </a>
</div>