<div class="w-full flex justify-between py-4 flex-col md:flex-row">
    <h3 class="py-4 text-2xl">Women</h3>
    <div class="flex items-center">
        <ul class="flex">
            <li class="pr-4 md:p-4">Shoes</li>
            <li class="pr-4 md:p-4">Clothing</li>
            <li class="pr-4 md:p-4">Sale</li>
            <li class="pr-4 md:p-4">Find Your Sports Bra</li>
            <li class="pr-4 md:p-4">Leggins</li>
            <li class="pr-4 md:p-4">Shoes $100 & Under</li>
        </ul>
    </div>
    <div class="hidden lg:flex">
        <h3 class="p-4 invisible">Women</h3>
    </div>
</div>